:root {
    --blanco: #ffffff;
    --negro: #212121;
    --cocoa-brown: #1d1817;
    --foam: #dcf4fb;
    --pizazz: #fb8a04;
    --bright-sun: #fbd844;
    --soya-bean: #6c5c4c;
    --spicy-mix: #7e573b;
    --nutmeg: #834c2c;
    --rajah: #fbb061;
    --sun: #fbb416;
    --naranja: #ff7c00;
    --crema: #fbfbfb;
    --azul: #068a9c;



}


html, body {
    height: 100%;
       margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    box-sizing:  border-box;
    height: 100%;
    
}

*, *:before, *:after{           /* el asterisco selecciona todos los elementos del html  la coma es para una clase repetida en cuanto a contenido*/
    
    box-sizing:  inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    height: 100%;
    background-color: var(--azul);
    background-attachment: fixed;
    
}

.menu body {
    background-color: var(--crema);
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    text-align: center;
    color: var(--crema);
     
}
p {

    color: var(--crema);
}

.wrapper {

    
    min-height: calc(100% - 8rem);
    position: relative;
}
.contenido{

    padding-bottom: 1rem;
}
footer{
    position: absolute;
    bottom: 0;
    height: 2rem;
   left: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
   width: 100%;
   
    
}
.container {
    padding:12px;
}

/* Encabezado */
.encabezado {

    color: var(--crema);
    font-weight: bolder;

}
/* Logo del Restaurante */

.logoRestaurante__imagen {
    padding: 1.5rem;
    max-width: 100%;
    height: 15rem;
    margin: 0 auto;
    display: block;
  
    
}
.logoRestaurante__texto {

    margin-bottom: 2rem;
}

/* Formulario */

.formulario {
    margin: 10rem 0;
    background-color: var(--naranja);
    width: min(30rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
  

   
}
.formulario fieldset{

    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
   
    color: var(--primario);
}

.inputs__campos {
    margin-bottom: 1rem;
  
}

.inputs__campo label {

    color: var(--negro);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;   /* con esto cada campo toma todo el espacio posible */
}

.inputs__campo {

    width: 100%;
    border: none;
    padding: 0.5rem;
    display: block;
    border-radius: 0.5rem;
   
}

.inputs__enviar {
 
    background-color: var(--bright-sun);
    color: var(--negro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: .5rem;           /* hace las esquinas curvas */

    width: 100%;
    text-align: center;
    
}
.selectorCategoria{
    
   
    grid-column: 1/2 ;
    grid-row: 1/2;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    text-align: center;
 

}
.productoImagen{
    
    width: 11rem;
    height: 11rem;
    margin: 1rem auto;
    display: flex;
    border-radius: 2rem;
}
.productos{
    background-color: var(--blanco);
    margin: 1rem auto;
    border-radius: 1rem;
    max-width: 90%;
   
    padding: 1.5rem;
}
.productoNombre,
.productoDescripcion,
.productoPrecio{

    color: var(--negro);

}
.barraBusqueda {

    display: flex;
    gap: 0.5rem;
    margin: 1rem  auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

}

.barraBusquedaTexto ,
.barraBusquedaBoton,
.pedido{
    
    padding: 0.5rem;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
}
.componenteSelector {
    max-width: 80%;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.pagos {
    display: flex;
    margin: 1.5rem auto;
    justify-content: center;
    
}
.pagos__boton{

    padding: 1rem;
    font-size: larger;
    border-radius: 1rem;
    font-weight: bolder !important;
    border: none;
    appearance: none;
    width: 80%;

}



/* productoDetallado.php */

.productoBody{

    background-color: var(--blanco);
}


.nombreProductoDetallado,
.descripcionProductoDetallado,
.precioProductoDetallado,
.tituloComentario{

    color: var(--cocoa-brown);
}
.descripcionProductoDetallado{
    text-align: center;
    
}
.comentario {
   background-color: var(--crema);
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 10rem;
    width: 70%;
    border-width: 0.3px;
    border-style: solid;
    border-radius: 1rem;
    color: var(--cocoa-brown);
    
}
.imagenProductoDetallado {

    width: 100%;
   height: 25rem;
}

.areaBotones {

    display: flex;
    justify-content: center; 
    max-width: 80%;
    align-items: center;
    gap: 2rem;
    margin: 0.5rem auto;
   

}
.cantidadBotones {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    
}

.inputCantidadProductos {
    
    width: 4rem;
    padding: 0.5rem;
    text-align: center;
}

.agregarProducto{
    
    padding: 0.5rem;

}

/* Pagina pedido */

.itemsPedidos {

    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding: 0 1.5rem;

}



.productoPedidoInfo {
    display: flex;
    flex-direction: row;    
    gap: 1rem;
    
}


.productosPedidos,
.productosDelComensal,
.divComensales {

    height: 35rem;
    overflow: scroll;
    margin: 1rem 0.5rem;
    background-color: var(--foam);
    border-radius: 1rem;
    
    
   
}

.productosDelComensal {
    height: 20rem;
}
.divComensales{
    height: 15rem;
}
.pedido {
    background-color: var(--blanco);
}

.productoPedidoNombre,
.precioProductoPedido,
.cantidadProductoPedido,
.totalCliente,
.divisionProductos,
.comensalNombre,
.headerValoracion{

    color: var(--cocoa-brown) !important;

}

.pedidoHeader {

    color: var(--negro);
}

.areaBotonesPedido{

    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* pagos.php */

.botonesPagos {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto;
    gap: 5rem;
    width: 80%;

    
}
.boton__dividir,
.boton__pagar,
.boton__confirmar,
.boton__confirmarDivision{
    padding: 1rem;
    font-size: larger !important;
    border-radius: 1rem;
    border: none;
    appearance: none;
  

}
.boton__dividir{
    background-color: var(--bright-sun) !important;
}

.boton__pagar {
    
    background-color: var(--pizazz) !important;
}

.boton__confirmar,
.boton__confirmarDivision {
    background-color: var(--azul);
    color: var(--blanco);
    font-weight: bolder !important;
    margin-bottom: 4rem;

}
.boton__confirmarDivision{
    display: flex;
    margin: 3rem auto;
    justify-content: center;
}

.botonesPagar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 1rem auto;
}

.totalCliente {
    display:block;
    align-items: center;
    margin: 1rem auto;
    text-align: center;
    font-weight: bolder !important;
    font-size: larger !important;
    

}
.propina,
.metodoDePago {
    border-radius: 1rem;
    padding: 1rem;
}

.propina{
    appearance: none;
    width: 10rem;
    border-width: 0.3px;
    border-style: solid;
    border-radius: 1rem;
}

.comensalADividir{
    gap: 5rem;
    margin: 1rem auto;
    width: 70%;
}

/* valoracion.php*/
.star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
  }

  .areaEstrellas {

    display: flex;
    margin: 5rem auto;
    justify-content: center;
     
  }

.botonesValoracion {

    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    align-items: center;

}