:root {
    --blanco: #ffffff;
    --negro: #212121;
    --cocoa-brown: #1d1817;
    --foam: #dcf4fb;
    --pizazz: #fb8a04;
    --bright-sun: #fbd844;
    --soya-bean: #6c5c4c;
    --spicy-mix: #7e573b;
    --nutmeg: #834c2c;
    --rajah: #fbb061;
    --sun: #fbb416;
    --naranja: #ff7c00;
    --crema: #fbfbfb;
    --azul: #068a9c;



}


html, body {
    height: 100%;
       margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    box-sizing:  border-box;
    height: 100%;
    
}

*, *:before, *:after{           /* el asterisco selecciona todos los elementos del html  la coma es para una clase repetida en cuanto a contenido*/
    
    box-sizing:  inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    height: 100%;
    background-color: var(--azul);
    background-attachment: fixed;
    
}

.menu body {
    background-color: var(--crema);
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    text-align: center;
    color: var(--crema);
     
}
p {

    color: var(--crema);
}

.wrapper {

    
    min-height: calc(100% - 8rem);
    position: relative;
}
.contenido{

    padding-bottom: 1rem;
}
footer{
    position: absolute;
    bottom: 0;
    height: 2rem;
   left: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
   width: 100%;
   
    
}
.container {
    padding:12px;
}

/* Encabezado */
.encabezado {

    color: var(--crema);
    font-weight: bolder;

}
/* Logo del Restaurante */

.logoRestaurante__imagen {
    padding: 1.5rem;
    max-width: 100%;
    height: 15rem;
    margin: 0 auto;
    display: block;
  
    
}
.logoRestaurante__texto {

    margin-bottom: 2rem;
}

/* Formulario */

.formulario {
    margin: 10rem 0;
    background-color: var(--naranja);
    width: min(30rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
  

   
}
.formulario fieldset{

    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
   
    color: var(--primario);
}

.inputs__campos {
    margin-bottom: 1rem;
  
}

.inputs__campo label {

    color: var(--negro);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;   /* con esto cada campo toma todo el espacio posible */
}

.inputs__campo {

    width: 100%;
    border: none;
    padding: 0.5rem;
    display: block;
    border-radius: 0.5rem;
   
}

.inputs__enviar {
 
    background-color: var(--bright-sun);
    color: var(--negro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: .5rem;           /* hace las esquinas curvas */

    width: 100%;
    text-align: center;
    
}
.selectorCategoria{
    
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    text-align: center;
 

}
.productoImagen{
    
    width: 11rem;
    height: 11rem;
    margin: 1rem auto;
    display: flex;
    border-radius: 2rem;
}
.productos{
    background-color: var(--blanco);
    margin: 1rem auto;
    border-radius: 1rem;
    max-width: 90%;
   
    padding: 1.5rem;
}
.productoNombre,
.productoDescripcion,
.productoPrecio{

    color: var(--negro);

}
.barraBusqueda {

    display: flex;
    gap: 0.5rem;
    margin: 1rem  auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

}

.barraBusquedaTexto ,
.barraBusquedaBoton{
    
    padding: 0.5rem;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
}

